.default-container,
.form,
.form-container {
  align-items: center;
  width: 100%;
}

.div-center {
  padding-top: 30px;
  text-align: center;
}

.link-std {
  color: black;
  text-decoration: none;
}

.div-center-title1 {
  color: darkgray;
  font-size: 20px;
}


#hide-password,
#hide-title1,
#hide-title3,
#hide-cpf {
  color: #ff0000;
  font-size: 12px;
  margin: 0 auto;
  padding: 0 auto;
  visibility: hidden;
}

.items {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
}
.items-label {
  display: block;
  margin-bottom: 5px;
}

.items-select {
  display: block;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.items-btn {
  width: 100%;
}

.items-list {
  border: 1px solid lightgray;
  border-radius: 8px;
}

.ul-std {
  padding: 0;
  text-align: center;
}

.li-project,
.item-detail-li {
  list-style-type: none;
}

.li-title {
  font-weight: bold;
}


.li-title2 {
  color: darkgray;
  font-size: 16px;
  text-decoration: underline;
}

.prj-link {
  color: black;
  text-decoration: none;
}

.item-detail {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px dotted lightgray;
  padding-bottom: 3px;
  padding-top: 3px;
  width: 80%;
}

.item-detail-li {
  font-size: 14px;
}

@media (min-width: 768px) {
  .items,
  .item-detail {
    width: 500px;
  }
}